# Instruções iniciais

1 - Siga as instruções de configuração do ambiente disponibilizadas no README da aula para preparar o seu sistema.

2 - Baixar este arquivo no seu computador.

3 - Utilize o ambiente virtual (venv) configurado como o kernel para este arquivo.

In [2]:
import gdown
import os

# A url do conjunto de dados que será usada na aula
url = 'https://drive.google.com/uc?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G'
output = 'data/dataset.csv'

# Criação de uma pasta 
os.makedirs(os.path.dirname(output), exist_ok=True)

gdown.download(url, output, quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G
From (redirected): https://drive.usercontent.google.com/download?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G&confirm=t&uuid=b0835016-2893-4016-bf09-0e9e96d2186e
To: d:\Aluno\Documents\BigData\data\dataset.csv
100%|██████████| 650M/650M [00:44<00:00, 14.7MB/s]

'data/dataset.csv'

Assim podemos carregar o conjunto de dados que baixamos.

In [3]:
import pandas as pd

data = pd.read_csv('data/dataset.csv')
data

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

Obter Informações do dataset

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6924049 entries, 0 to 6924048
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 581.1+ MB

In [6]:
data.isnull().sum()

Timestamp             0
From Bank             0
Account               0
To Bank               0
Account.1             0
Amount Received       0
Receiving Currency    0
Amount Paid           0
Payment Currency      0
Payment Format        0
Is Laundering         0
dtype: int64

Verificar se existem valores Null ou NaN

In [9]:
print(f"Soma de Null:\n{data}\n\nSoma de NA:\n{data}")

Soma de Null:
                Timestamp  From Bank    Account  To Bank  Account.1  \
0        2022/09/01 00:08         11  8000ECA90       11  8000ECA90
1        2022/09/01 00:21       3402  80021DAD0     3402  80021DAD0
2        2022/09/01 00:00         11  8000ECA90     1120  8006AA910
3        2022/09/01 00:16       3814  8006AD080     3814  8006AD080
4        2022/09/01 00:00         20  8006AD530       20  8006AD530
...                   ...        ...        ...      ...        ...
6924044  2022/09/10 23:39      71696  81B2518F1    71528  81C0482E1
6924045  2022/09/10 23:48     271241  81B567481   173457  81C0DA751
6924046  2022/09/10 23:50     271241  81B567481   173457  81C0DA751
6924047  2022/09/10 23:57     170558  81A2206B1   275798  81C1D5CA1
6924048  2022/09/10 23:31     170558  81A2206B1   275798  81C1D5CA1

         Amount Received Receiving Currency   Amount Paid Payment Currency  \
0           3.195403e+06          US Dollar  3.195403e+06        US Dollar
1           1.858960e+03          US Dollar  1.858960e+03        US Dollar
2           5.925710e+05          US Dollar  5.925710e+05        US Dollar
3           1.232000e+01          US Dollar  1.232000e+01        US Dollar
4           2.941560e+03          US Dollar  2.941560e+03        US Dollar
...                  ...                ...           ...              ...
6924044     3.346900e-02            Bitcoin  3.346900e-02          Bitcoin
6924045     1.313000e-03            Bitcoin  1.313000e-03          Bitcoin
6924046     1.305800e-02            Bitcoin  1.305800e-02          Bitcoin
6924047     4.145370e-01            Bitcoin  4.145370e-01          Bitcoin
6924048     3.427700e-02            Bitcoin  3.427700e-02          Bitcoin

        Payment Format  Is Laundering
0         Reinvestment              0
1         Reinvestment              0
2               Cheque              0
3         Reinvestment              0
4         Reinvestment              0
...                ...            ...
6924044        Bitcoin              0
6924045        Bitcoin              0
6924046        Bitcoin              0
6924047        Bitcoin              0
6924048        Bitcoin              0

[6924049 rows x 11 columns]

Soma de NA:
                Timestamp  From Bank    Account  To Bank  Account.1  \
0        2022/09/01 00:08         11  8000ECA90       11  8000ECA90
1        2022/09/01 00:21       3402  80021DAD0     3402  80021DAD0
2        2022/09/01 00:00         11  8000ECA90     1120  8006AA910
3        2022/09/01 00:16       3814  8006AD080     3814  8006AD080
4        2022/09/01 00:00         20  8006AD530       20  8006AD530
...                   ...        ...        ...      ...        ...
6924044  2022/09/10 23:39      71696  81B2518F1    71528  81C0482E1
6924045  2022/09/10 23:48     271241  81B567481   173457  81C0DA751
6924046  2022/09/10 23:50     271241  81B567481   173457  81C0DA751
6924047  2022/09/10 23:57     170558  81A2206B1   275798  81C1D5CA1
6924048  2022/09/10 23:31     170558  81A2206B1   275798  81C1D5CA1

         Amount Received Receiving Currency   Amount Paid Payment Currency  \
0           3.195403e+06          US Dollar  3.195403e+06        US Dollar
1           1.858960e+03          US Dollar  1.858960e+03        US Dollar
2           5.925710e+05          US Dollar  5.925710e+05        US Dollar
3           1.232000e+01          US Dollar  1.232000e+01        US Dollar
4           2.941560e+03          US Dollar  2.941560e+03        US Dollar
...                  ...                ...           ...              ...
6924044     3.346900e-02            Bitcoin  3.346900e-02          Bitcoin
6924045     1.313000e-03            Bitcoin  1.313000e-03          Bitcoin
6924046     1.305800e-02            Bitcoin  1.305800e-02          Bitcoin
6924047     4.145370e-01            Bitcoin  4.145370e-01          Bitcoin
6924048     3.427700e-02            Bitcoin  3.427700e-02          Bitcoin

        Payment Format  Is Laundering
0         Reinvestment              0
1         Reinvestment              0
2               Cheque              0
3         Reinvestment              0
4         Reinvestment              0
...                ...            ...
6924044        Bitcoin              0
6924045        Bitcoin              0
6924046        Bitcoin              0
6924047        Bitcoin              0
6924048        Bitcoin              0

[6924049 rows x 11 columns]

Selecionando as colunas de interesse

In [12]:
paid = data['Amount Paid']
received = data['Amount Received']


data[:1]

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3195403.0,US Dollar,3195403.0,US Dollar,Reinvestment,0

A variável paid vai receber essa coluna "Amount Paid" do dataset
data[:1] -> mostra todos os itens da linha 1

In [16]:
data[data['Timestamp'] == '2022/09/01 00:24'].head(15)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
5,2022/09/01 00:24,12,8006ADD30,12,8006ADD30,6473.62,US Dollar,6473.62,US Dollar,Reinvestment,0
31,2022/09/01 00:24,1277,80093C800,219975,8034B3870,34.67,US Dollar,34.67,US Dollar,Credit Card,0
39,2022/09/01 00:24,11968,800B69E00,110856,80DFEBEE0,282.37,US Dollar,282.37,US Dollar,Credit Card,0
107,2022/09/01 00:24,349,800C2D690,12204,800F6DA10,88836.00,US Dollar,88836.00,US Dollar,Cheque,0
154,2022/09/01 00:24,22364,800F75220,114721,8118E7B00,11.13,US Dollar,11.13,US Dollar,Credit Card,0
180,2022/09/01 00:24,1217,801565CA0,3500,8072E32C0,31.28,US Dollar,31.28,US Dollar,Credit Card,0
224,2022/09/01 00:24,20,8000EEC20,20,8000EEC20,12462.52,US Dollar,12462.52,US Dollar,Reinvestment,0
259,2022/09/01 00:24,12,80005C690,20,800105270,40747.91,US Dollar,40747.91,US Dollar,Cheque,0
275,2022/09/01 00:24,1,800101790,1231,800108370,524554.50,US Dollar,524554.50,US Dollar,Cash,0
294,2022/09/01 00:24,1,80010E9C0,1,80010E9C0,110406.79,US Dollar,110406.79,US Dollar,Reinvestment,0
340,2022/09/01 00:24,224,80011A7B0,224,80011A7B0,2605.12,US Dollar,2605.12,US Dollar,Reinvestment,0
351,2022/09/01 00:24,11,800122090,11,800122090,52942.23,US Dollar,52942.23,US Dollar,Reinvestment,0
466,2022/09/01 00:24,12,800143570,12,800143570,16.42,US Dollar,16.42,US Dollar,Reinvestment,0
506,2022/09/01 00:24,20,80014CCC0,20,80014CCC0,6736.61,US Dollar,6736.61,US Dollar,Reinvestment,0
512,2022/09/01 00:24,70,10042B660,20,80014EC60,21818.29,US Dollar,21818.29,US Dollar,Credit Card,0

OBS: se deixar só o data['Timestamp'], ele só vai retornar True ou False.

Ele mostra os 15 primeiros itens que correspondem a data e a hora especificadas

In [17]:
paid.describe()

count    6.924049e+06
mean     4.676036e+06
std      1.544099e+09
min      1.000000e-06
25%      1.753800e+02
50%      1.399440e+03
75%      1.222687e+04
max      3.644854e+12
Name: Amount Paid, dtype: float64

Gerar o resumo estatísticos das colunas